@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid #ccc;
  }
  
  .sticky-filter {
    position: sticky;
    top: 25px; /* Adjust based on the height of the first header row */
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid #ccc;
  }